@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 40 14% 97.5%;
    --foreground: 0 0% 18%;

    --card: 40 14% 96%;
    --card-foreground: 0 0% 18%;

    --popover: 40 14% 97.5%;
    --popover-foreground: 0 0% 18%;

    --primary: 0 0% 18%;
    --primary-foreground: 40 14% 97.5%;

    --secondary: 40 10% 92%;
    --secondary-foreground: 0 0% 18%;

    --muted: 40 10% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 40 10% 90%;
    --accent-foreground: 0 0% 18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 0 0% 18%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 13%;
    --foreground: 40 14% 90%;

    --card: 0 0% 16%;
    --card-foreground: 40 14% 90%;

    --popover: 0 0% 13%;
    --popover-foreground: 40 14% 90%;

    --primary: 40 14% 90%;
    --primary-foreground: 0 0% 13%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 40 14% 90%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 20%;
    --accent-foreground: 40 14% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 14% 90%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 0 0% 80%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
